<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppArchitecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0A4724F1C6E132B00884258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0A472661C6E132B00884258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0A472711C6E132B00884258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
